.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%; 
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid-item {
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    box-sizing: border-box;
    color: black; 
    padding: 150px;
    
}

.grid-item h2, .grid-item p {
    margin: 0;
    transition: color 0.5s;
}

.grid-item p{
    text-align: justify;
    text-justify: inter-word;
}

/* Hover effects for each grid item */
#item1:hover {
    background: url('deforestration.webp') no-repeat center center;
    background-size: cover;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

#item2:hover {
    background: url('industry.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

#item3:hover {
    background: url('car.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

#item4:hover {
    background: url('aggriculture\ pollution.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.grid-item:hover h2, .grid-item:hover p {
    color: #fff;
}